* {
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(247, 245, 245);
}
.page{
  width: 210mm;
  height: 297mm;
  margin-left: 20%;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  box-shadow: 4px 2px 2px rgb(148, 146, 146);
  border-radius: 1%;
}
h1{
  font-size: 27px;
  text-align: center;
}
img{
  height: 190px;
  width: auto;
  margin-left: 2%;
}
div{
  margin: 10px;
}
.Header{
  text-align: center;
  height: 20px;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
.photo{
  margin-top: 40px;
}
.ns{
  text-transform: uppercase;
}

.Block{
  display: flex;
  flex-direction: row;
}
.Block_left{
  display: flex;
  flex-direction: column;
  width: 230px;
}
.Block_right{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: -27px;
}
.Contact{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -15px;
  margin-left: 0px;
}
.icon{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 53px;
}
.icon1{
  height: 23px;
  width: 30px;
}
.icon2{
  height: 20px;
  width: 23px;
}
.icon3{
  height: 17px;
  width: 23px;
}
.Info{
  margin-left: -12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a{
  text-decoration: none;
  text-decoration-color: black;
}
a:visited {
  color: #000000;
}
a:hover {
  border-bottom: 1px solid;
  background: #e9f3e3;
}
.Adress{
  height: 13px;
}
.Tlg{
  height: 5px;
}
.mail{
  height: 5px;
}
.phone{
  height: 5px;
}
.text{
  text-decoration: none;
  padding-bottom: 5px;
}
ul{
  list-style-type: disc;
}
.Educ, .Course, .Job{
  margin-bottom: -12px;
}
.course{
  font-size: 15px;
  text-align: justify;
}
.Skills{
  display: flex; 
  flex-direction: column;
  margin-top: 0px;
}
.header3{
  margin-left: 5%;
}
.Descr{
  margin-top: -2px;
  margin-left: 40px;
  margin-right: 8px;
  font-size: 15px;
}
span{
  background:rgb(165, 209, 160);
}
.line{
  border: 1px solid #000000;
  width: 2px;
  height: 960px;
  margin-left: -10px;
  margin-top: 70px;
  background: #000000;
}